################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ForgottenFoes/DesignTimeBuild/.dtbcache
/.vs/ForgottenFoes/v16/Server/sqlite3/db.lock
/.vs/ForgottenFoes/v16/Server/sqlite3/storage.ide
/.vs/ForgottenFoes/v16/Server/sqlite3/storage.ide-shm
/.vs/ForgottenFoes/v16/Server/sqlite3/storage.ide-wal
/.vs/ForgottenFoes/v16/Browse.VC.db
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
